{
 "NodesCount": 200,
 "NodesTotalWeight": 100000,
 "ParentsCount": 1,
 "TPS": 70,
 "ConsensusMonitorTick": 100,
 "RelevantValidatorWeight": 0,
 "MinDelay": 100,
 "MaxDelay": 100,
 "SlowdownFactor": 1,
 "DoubleSpendDelay": 20,
 "NeighbourCountWS": 8,
 "ZipfParameter": 0.8,
 "WeakTipsRatio": 0,
 "PacketLoss": 0,
 "DeltaURTS": 5,
 "SimulationStopThreshold": 1,
 "RandomnessWS": 1,
 "ConfirmationThreshold": "0.66-true",
 "TSA": "POW",
 "ResultDir": "results",
 "IMIF": "poisson",
 "SimulationTarget": "CT",
 "SimulationMode": "Accidental",
 "AdversaryDelays": [],
 "AdversaryTypes": [],
 "AdversaryNodeCounts": [],
 "AdversarySpeedup": [],
 "AdversaryMana": [],
 "AdversaryInitColor": [],
 "AccidentalMana": [],
 "AdversaryPeeringAll": false
}